/* Estilos de elementos */

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

hr {
    border-top: 4px dotted rgb(238, 255, 0);
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #ad0516;
}


/* Columnas */

.rowc:after {
    content: "";
    display: table;
    clear: both;
}

.column-1 {
    height: 13vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    float: left;
}

.column-end {
    height: 5%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    float: left;
}

.column-3 {
    padding-left: 2%;
    padding-right: 1%;
    width: 33.33%;
    float: left;
}


/* .column-3iz {
    padding-left: 2%;
    padding-right: 1%;
    width: 33.33%;
    float: left;
} */

.column-3de {
    padding-left: 3%;
    padding-right: 2%;
    width: 33.33%;
    float: left;
}

.column-3img {
    padding-left: 0%;
    padding-right: 0%;
    margin-right: 0%;
    width: 33.33%;
    float: left;
}

.icon {
    width: 15px;
}

.fotoheader {
    width: 100%;
    object-fit: cover;
    padding: 0%;
    margin: 0%;
}

#logo {
    width: 106.5%;
}

#separacion {
    width: 100%;
    height: 5vh;
}

#separacion-end {
    width: 100%;
    height: 5vh;
}


/*Columnas de los titulos*/

.tituloimg {
    width: 50%;
    float: right;
    margin-right: 50%;
}


/* .titulo50 {
    width: 50%;
    float: left;
} */


/* .titulo25 {
    width: 25%;
    float: left;
}

.titulo10 {
    width: 10%;
    float: left;
}

.titulo80 {
    width: 80%;
    float: left;
} */

#iconoquesadilla1 {
    margin-left: 50%;
    width: 50%;
}


/* Estilos de las comidas */

.titulocomida {
    padding-left: 2%;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.divdes {
    padding-left: 6%;
    padding-right: 6%;
    border-bottom: 0%;
}

.descomida {
    font-size: 16px;
    font-weight: lighter;
    display: inline;
}

.precio {
    font-weight: normal;
    font-size: 15px;
}

.kcal {
    padding-left: 8%;
    font-weight: normal;
    font-size: 12px;
}

.titulo {
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    padding: 0%;
    margin: 0%;
}

.cuadro {
    background-color: bisque;
    border-radius: 15px;
    width: 100%;
}


/*Estilo del desplegable*/

.accordion-body {
    background-color: rgb(255, 216, 169);
}

.accordion-button {
    background-color: rgb(255, 255, 255);
}


/* .accordion-button:focus {
    border-color: #fc2121;
} */

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: rgb(243, 235, 224);
}


/*iconos de la seccion central*/

.leyenda {
    font-size: 20px;
}

#column-2centralicono {
    width: 10%;
    float: left;
}

#column-2centraltexto {
    width: 90%;
    float: left;
}

.cuadroiconos {
    margin-top: 5%;
    padding-top: 2%;
    background-color: bisque;
    border-radius: 15px;
    width: 100%;
    margin-left: 3%;
    padding-left: 5%;
}

.centralicon {
    margin-top: 11%;
    margin-bottom: 22%;
    width: 30px;
}


/*Texto de opciones para pedir a domicilio*/

#TextoDomicilio {
    font-size: 25px;
    padding-right: 3%;
    text-align: center;
}

#telf {
    font-size: 40px;
    padding-left: 29%;
    padding-bottom: 8%;
}

.ocultar {
    display: none;
}


/*Responsive*/

@media only screen and (max-width: 600px) {
    /*columnas*/
    .column-1 {
        height: 5vh;
    }
    .column-3 {
        margin-top: 3%;
        padding-right: 3%;
        padding-left: 3%;
        width: 100%;
    }
    .column-3de {
        margin-top: 3%;
        padding-right: 3%;
        padding-left: 3%;
        width: 100%;
    }
    .column-3img {
        margin-top: 0%;
        padding-right: 6%;
        width: 100%;
    }
    .ocultarR {
        display: none;
    }
    .ocultar {
        display: block;
    }
    /*Imagen del logo*/
    #logo {
        width: 100%;
        margin-bottom: 5%;
    }
    #separacion {
        width: 100%;
        height: 0.5vh;
    }
}